# version: '3.8'

services:
  mysql:
    image: mysql:8.0.16
    container_name: mysql-8.0.16
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      TZ: Asia/Shanghai  
    ports:
      - "127.0.0.1:3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql 
    networks:
      - mynet
    restart: unless-stopped  
    healthcheck:  
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3
    command:  
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

volumes:
  mysql_data: 

networks:
  mynet:  
    external: true